<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Name: ' + book.getName() + ', ' + book.getDateOfPublication()}">Book Name and date</p>
<br/>

<p th:text="${'Author: ' + book.getAuthor()}">Author name of this book</p>
<br/>

<p th:text="${'This book is ' + book.getStatus()}">Book status</p>

<a th:href="@{/people/{id}(id=${book.getOwner().getId()})}"
   th:text="${book.getOwner().getName()}"
   th:unless="${#bools.isTrue(book.getOwner())}">view</a>
<br/>

<br/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit this book</a>

<br/>
<hr/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>